<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="c51381cd-6545-44b9-9dc5-109a99dabfae" port="8088" path="/mockHelloWorldWebServiceSoap" host="VXP_X86" name="HelloWorldWebServiceSoap Virt" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="c51381cd-6545-44b9-9dc5-109a99dabfaefileName">HelloWorldWebServiceSoap-Virt</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>125</con:inputBandwidth><con:outputBandwidth>125</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>-1</con:start></con:virtError></con:constraints></con:mockService>