<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="98b571fe-1254-4830-8ff6-0ac7010cf236" port="8088" path="/mockHelloWorldWebServiceSoap" host="eremeev-w8" name="HelloWorldWebServiceSoap Virt" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="98b571fe-1254-4830-8ff6-0ac7010cf236fileName">HelloWorldWebServiceSoap-Virt</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>125</con:inputBandwidth><con:outputBandwidth>125</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>-1</con:start></con:virtError></con:constraints></con:mockService>