<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="011b692e-86f7-44cb-9d8e-8ea978cfa116" wsaVersion="NONE" name="HelloWorldWebServiceSoap12" type="wsdl" bindingName="{http://shadow.org/}HelloWorldWebServiceSoap12" soapVersion="1_2" anonymous="optional" definition="http://eremeev-w8/servers/wsdl/simple/server.asmx?wsdl" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="011b692e-86f7-44cb-9d8e-8ea978cfa116fileName">HelloWorldWebServiceSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://eremeev-w8/servers/wsdl/simple/server.asmx</con:endpoint></con:endpoints></con:interface>