<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="b611902c-2e1b-43be-a4cf-edadd69489f8" port="8088" path="/mockHelloWorldWebServiceSoap" host="eremeev-w8" name="HelloWorldWebServiceSoap Virt" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="b611902c-2e1b-43be-a4cf-edadd69489f8fileName">HelloWorldWebServiceSoap-Virt</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>125</con:inputBandwidth><con:outputBandwidth>125</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>-1</con:start></con:virtError></con:constraints><con:headerValidator type="NONE"/></con:mockService>