<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="5e02d961-bca8-4aaf-aa27-68c3f44a4fc1" wsaVersion="NONE" name="HelloWorldWebServiceSoap12" type="wsdl" bindingName="{http://shadow.org/}HelloWorldWebServiceSoap12" soapVersion="1_2" anonymous="optional" definition="http://localhost/servers/wsdl/simple/server.asmx?wsdl" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="5e02d961-bca8-4aaf-aa27-68c3f44a4fc1fileName">HelloWorldWebServiceSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://localhost/servers/wsdl/simple/server.asmx</con:endpoint></con:endpoints></con:interface>