<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="2eb7d631-6493-4e50-8bb7-f300b699daef" activeEnvironment="Default environment" name="Test" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2eb7d631-6493-4e50-8bb7-f300b699daeffileName">Test-soapui-project</con:setting></con:settings><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/></con:soapui-project>