<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="04f870e9-6a52-48b4-94f9-900c2ca1ba27" wsaVersion="NONE" name="HelloWorldWebServiceSoap12" type="wsdl" bindingName="{http://shadow.org/}HelloWorldWebServiceSoap12" soapVersion="1_2" anonymous="optional" definition="http://localhost/servers/wsdl/simple/server.asmx?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="04f870e9-6a52-48b4-94f9-900c2ca1ba27fileName">HelloWorldWebServiceSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://localhost/servers/wsdl/simple/server.asmx</con:endpoint></con:endpoints></con:interface>