<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="f84bee57-302f-4ccf-bdbb-05c635bdcd91" wsaVersion="NONE" name="HelloWorldWebServiceSoap12" type="wsdl" bindingName="{http://shadow.org/}HelloWorldWebServiceSoap12" soapVersion="1_2" anonymous="optional" definition="http://eremeev-w8/servers/wsdl/simple/server.asmx?wsdl" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="f84bee57-302f-4ccf-bdbb-05c635bdcd91fileName">HelloWorldWebServiceSoap12</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>http://eremeev-w8/servers/wsdl/simple/server.asmx</con:endpoint></con:endpoints></con:interface>