<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="644a8223-8af3-44a6-9ec8-900cd0c7b4d7" activeEnvironment="Default environment" name="XPSimple" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/></con:soapui-project>